# Github init
logs
*.log
*.tgz
.env
.env.test
.cache/
.tern-port

# MacOS
*.dmg
*.img
*.chunklist


# OS Ignore
node_modules/

# Config Files
MacOSConfig.yaml
BaseSystem.qcow2
OpenCore_User.qcow2
OVMF_VARS-1024x768.fd
KVM-Settings.yaml