# Github init
logs
*.log
*.tgz
.env
.env.test
.cache/
.tern-port

# MacOS
*.dmg
*.img
*.chunklist


# OS Ignore
node_modules/
MacOS/OpenCORE/resources/OcBinaryData

# Nexe out
.Build/*_binarie*

# Config Files
MacOSConfig.yaml